# Build products (keep the 1.3.3 release autotools files tracked)
Makefile
autom4te.cache/
config.status
config.log
config.h
confdefs.h
conftest.*
stamp-h1
.deps/
*.o
minidlnad
po/Makefile
po/POTFILES
po/*.gmo
po/stamp-po
linux/minidlna.init.d.script
